/* General Navbar Styling */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5rem;
	background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.logo a {
	font-size: 1.5rem;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	font-family: "Playfair Display", serif;
}

.navLinks {
	display: flex;
	gap: 2rem;
}

.navLinks a {
	text-decoration: none;
	color: #333;
	font-size: 1.5rem;
	font-weight: 500;
	transition: color 0.3s ease;
}

.navLinks a:hover {
	color: #0070f3;

}

.menuIcon {
	display: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: #333;
}

/* Mobile Menu Styling */
.mobileMenu {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 70%;
	background-color: #f9f9f9;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	transform: translateX(0);
	transition: transform 0.3s ease;
	z-index: 100;
}

.mobileMenu a {
	color: #333;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

.mobileMenu a:hover {
	color: #0070f3;
}

.hideLinks {
	display: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.navLinks {
		display: none;
	}

	.menuIcon {
		display: block;
	}
}
